.shop-product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 2em;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: auto;
  border: 1px solid grey;
  margin: 1em;
  padding: 2em;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.64);
}

.product-card-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-price {
  font-size: 1.2rem;
  margin-left: 0.5em;
}

.product-card-image {
  width: 13rem;
  min-height: 10rem;
}

.product-card-icons {
  display: flex;
}

.wishlist-icon {
  color: white;
  stroke: black;
  stroke-width: 50;
}

.product-card-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
