.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
}

.cart-table {
  padding: 2em;
  border: 1px solid black;
  text-align: center;
  width: 60%;
  font-size: 1.3rem;
}

thead {
  border-bottom: 1px solid black;
}

.cart-image {
  width: 120px;
}

.cart-item-quantity {
  display: flex;
  flex-direction: column;
}

.cart-button-container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2em;
}

.arrow {
  cursor: pointer;
}

.delete-btn:hover {
  cursor: pointer;
}
