.logo {
  width: 100px;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  max-width: 100vw;
  padding: 1em;
  border-bottom: 1px solid grey;
}

.fixed {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  height: auto;
  width: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  z-index: 5;
  border-bottom: 1px solid grey;
  padding: 1em;
}

.home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  max-width: 100vw;
  padding: 1em;
  z-index: 1;
  border-bottom: 1px solid grey;
}

.navigation-items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;
}

.nav-item {
  text-decoration: none;
  margin-left: 1em;
}

.nav-item:hover {
  text-decoration: underline 3px solid #3987c9;
}

.nav-item.shop {
  background-color: #3987c9;
  color: white;
  padding: 0.5em;
  border-radius: 0.75em;
  border: 3px solid rgba(255, 255, 255, 0);
}

.nav-item.shop:hover {
  color: #3987c9;
  background-color: white;
  border: 3px solid #3987c9;
  text-decoration: none;
}

.navigation-icons {
  display: flex;
  align-items: center;
  margin: 0 2em;
}

a {
  text-decoration: none;
  color: black;
}

.user-icon {
  margin-right: 1em;
  color: black;
}

.cart-icon {
  margin-left: 1em;
  color: black;
  text-decoration: none;
}

.icon-count {
  color: black;
}
