.main-content {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  min-height: 80vh;
  background-color: white;
  z-index: 2;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 2em;
  margin-top: 3em;
}

.main-image-container {
  margin-top: 3em;
}

.top {
  margin-top: 8em;
}

.image-main {
  height: 30rem;
  box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 5px 8px 5px 0px rgba(0, 0, 0, 0.64);
}
